[program:vnc]
command=/usr/bin/launchvnc 1
autostart=true
autorestart=true
startsecs=30
startretries=10
user={{ tigervnc_user }}
stdout_logfile=/home/{{ tigervnc_user }}/.vnc/vnc-stdout.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=2
stdout_capture_maxbytes=10MB
stderr_logfile=/home/{{ tigervnc_user }}/.vnc/vnc-stderr.log
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=2
stderr_capture_maxbytes=10MB
environment=HOME="/home/{{ tigervnc_user }}", USER="{{ tigervnc_user }}"
