[program:novnc]
command=/usr/bin/launchnovnc
autostart=true
autorestart=true
startsecs=30
startretries=10
user={{ novnc_user }}
stdout_logfile=/home/{{ novnc_user }}/.vnc/novnc-stdout.log
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=2
stdout_capture_maxbytes=10MB
stderr_logfile=/home/{{ novnc_user }}/.vnc/novnc-stderr.log
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=2
stderr_capture_maxbytes=10MB
environment=HOME="/home/{{ novnc_user }}", USER="{{ novnc_user }}"
